---
import PageHead from "../../components/PageHead.astro";
import BaseLayout from "../../layouts/base-layout.astro";
---
<BaseLayout class="px-2">
    <PageHead slot="head" title="Blog"> </PageHead>
    <h1>Hello, World!</h1>
    <h1>This is blog page!</h1>
</BaseLayout>
